.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin-left: var(--sidebar-width);
  background: var(--bg-base);
  min-height: calc(100vh - var(--player-height));
  overflow-y: auto;
}

[dir="rtl"] .main {
  margin-left: 0;
  margin-right: var(--sidebar-width);
}
